/**
  # Events
*/

/*
* "Tribe events calendar" color overrides
*/
.event-categories a.button.active {
  border-color: #ab2634 !important;
  background-color: #ab2634 !important;
}

.tribe-js-filters-toggle:focus,
.tribe-js-filters-toggle:hover,
.tribe_events_filters_toggle:focus,
.tribe_events_filters_toggle:hover {
  color: $brand-red;
}

/*
* "Tribe events calendar" spacing overrides
*/
.tribe-events-list .tribe-events-loop .tribe-events-event-meta {

  .tribe-events-divider {
    display: none;
  }

  .recurringinfo {
    font-size: .925rem;
    @media screen and (min-width: 769px) {
      margin-left: .5rem;
      background: #e3e3e3;
      padding: 0 .125rem;
      border-radius: .25rem;
      position: relative;
      top: 4px;
    }
  }
}
