
/**
  # Site Footer
*/

/*
* Pre-footer widget area
*/
.pre-footer {
  background: $brand-red;
  color: white;
  overflow: auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
  h1, h2, h3 {
    font-weight: bold;
    color: white;
  }
  h4, h5, h6 {
    color: white;
  }
  .pre-footer_widgets {
    list-style: none;
    margin: auto;
    display: block;
    max-width: 100%;
    width: 800px;
    padding: 0 1rem;

    // Specific overrides for "subscribe" gravity form validation feedback
    .gform_wrapper {
      li.gfield.gfield_error,
      div.validation_error,
      li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
        padding: .25rem !important;
        background: white;
        border-radius: 3px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
      }
    }

  }
}

/*
* Main footer widget area
*/
.site-footer {
  img {
    max-width: 200px;
  }
  .widget, .site-footer p {
    margin-bottom: .5rem;
    font-weight: 600;
  }
  .search-field {
    padding: 8px 45px 8px 15px;
  }
}
