/**
  # Global
*/
body, button, input, select, textarea {
  font-family: $brand-font-family;
}

/**
* Astra theme color overrides
*/

.elementor-post__title a:hover,
.elementor-post__title a:focus,
.elementor-heading-title a:hover,
.elementor-heading-title a:focus,
.archive .entry-title a:hover,
.archive .entry-title a:focus,
.search .entry-title a:hover,
.search .entry-title a:focus {
  color: $brand-red !important;
}

.archive .entry-meta .published,
.search .entry-meta .published {
  color: black;
}

.entry-header {
  h1, h2 {
    font-weight: 700;
  }
}

/**
* SVG Icons
*/

.ba-icon {
  height: 25px;
  width: 25px;
  display: inline-block;
  background-size: contain !important;
  background-position: center !important;
  vertical-align: middle;
  border-radius: 3px;
  position: relative;
  bottom: 2px;

  &:focus, &:hover {
    background-color: rgba(0,0,0,.5);
  }
}


.ba-icon.ba-icon-facebook {
  background: url('../img/facebook.png');
  background-image: url('../img/facebook.svg');
}

.ba-icon.ba-icon-instagram {
  background: url('../img/instagram.png');
  background-image: url('../img/instagram.svg');
}

.ba-icon.ba-icon-youtube {
  background: url('../img/youtube.png');
  background-image: url('../img/youtube.svg');
}

.ba-icon.ba-icon-twitter {
  background: url('../img/twitter.png');
  background-image: url('../img/twitter.svg');
}

.ba-icon.ba-icon-chevron-down {
  background: url('../img/chevron-down-dark.png');
  background-image: url('../img/chevron-down-dark.svg');
}

// Utilities
.ba-clearfix {
  width: 100%;
  display: none;
  float: left;
}

@media screen and (min-width: 768px) {
  .ba-clearfix-md {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .ba-clearfix-md {
    display: none;
  }
  .ba-clearfix-lg {
    display: block;
  }
}
