/**
  # Site Header
*/


/* Intended to appear for screen readers but not appear visually */
.ba-screen-reader-only {
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*
* The top "Secondary" menu with social links etc.
* Located directly above primary header
*/
.ba-secondary-menu {
  background-color: $brand-blue;
  padding: 7px 8px;
  text-align: right;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &.toggled {
    height: 56px;
  }

  @media screen and (min-width: 1001px) {
    padding: 7px 1rem;
    &.toggled {
      height: 144px;
    }
  }

  a {
    color: #fff;
    padding: 0px 7px;
    border-radius: 2px;
    display: inline-block;
    &:hover {
      color: $brand-blue;
      background-color: #fff;
    }
  }

  a.ba-social-icon {
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 42px;
    text-align: center;
    display: inline-block;
    border-radius: 3px;
    &:hover {
      background-color: rgba(0,0,0,.5);
    }
  }

  // non-icon-links
  .ba-secondary-menu_links{
    display: none;
    padding-right: 6px;
    @media screen and (min-width: 1001px){
      display: inline-block;
    }
  }

}

/*
* The arrow icon that appears on small screens when the user scrolls down
* Scrolls to the top of the screen on click for easy menu access
*/
.ba-scroll-to-top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 3px;
  opacity: .9;
  a {
    display: inline-block;
    color: black;
    padding: 0 .5rem;
  }
  &.toggled {
    display: inline-block;
  }
}


/*
* The main menu which contains most of the navigation links
*/

// Styles for both small and large screens
.ba-primary-menu {
  width: 100%;
  background: white;
  display: flex;
  vertical-align: middle;
}

// Call to action buttons within the menu
.ba-cta-button_wrap {
  margin-left: auto;
  padding: 0 8px;
}
.ba-cta-button_wrap, .ba-mobile-toggle_wrap{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-direction: column;
}
.ba-cta-button {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 6px 8px;
  display: inline-block;
  white-space: nowrap;
  line-height: 1.5;
  @media screen and (min-width: 1001px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1151px) {
    font-size: 16px;
  }
  &.ba-cta-button--warning {
    color: #fff;
    background-color: $brand-red;
    border: 1px solid $brand-red;
    &:hover, &:focus{
      background-color: $brand-blue;
      color: white;
      border-color: $brand-blue;
    }
  }
  &.ba-cta-button--light {
    color: #231f20;
    background-color: #ffffff;
    border: 1px solid #231f20;
  }
}

.ba-menu_item .ba-icon {
  width: 13px;
  height: 13px;
  margin-left: 3px;
}


/*
* Small screen main nav
*/

// The mobile menu bar with hamburger
.ba-primary-menu--mobile {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 6px 8px;
  @media screen and (min-width: 1001px) {
    display: none;
  }
  .ba-mobile-logo_container {
    .ba-menu-logo {
      display: inline-block;
      img {
        max-width: 100%;
        height: 50px;
        width: 50px;
        width: auto;
      }
    }
  }
  /* Hamburger Menu Toggle Button */
  .ba-mobile-toggle{
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(0,0,0,.05);
    color: #494c4f;
    height: 40px;
    width: 40px;
    padding: 4px 12px;
    &.ba-mobile-toggle_open:after {
      content: "";
      display: block;
      width: 16px;
      height: 0;
      box-shadow: 0 10px 0 1px #231f20, 0 16px 0 1px #231f20, 0 22px 0 1px #231f20;
    }
    &.ba-mobile-toggle_close {
      color: #231f20;
      display: none;
      padding: 8px 11px;
      line-height: 0.8;
      font-size: 29px;
      display: none;
      width: 40px;
      height: 40px;
    }
  }
}

.ba-mobile-menu_links {
  display: none;
  @media screen and (min-width: 1001px) {
    display: none !important;
  }
  background: #fff;
  width: 100%;
  .ba-icon {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 1rem;
    &:first-child {
      background: #ebebeb;
    }
    & > li a {
      color: #231f20;
      padding: 0;
      font-size: 16px;
      font-weight: 700;
    }
    // submenus
    ul {
      padding: 2px 0 12px 12px;
      & > li a {
        font-weight: 500;
        color: gray;
      }
    }
  }
  a:hover,
  a:focus {
    color: $brand-blue;
  }
}



.ba-primary-menu--desktop {
  display: none;
  padding: 16px;
  border-bottom: 1px solid #D8D8D8;
  @media screen and (min-width: 1001px) {
    display: flex;
  }
  .ba-menu-logo {
    max-width: 130px;
    min-width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 1101px) {
      max-width: 180px;
      min-width: 180px;
    }
  }
  ul {
    background: #fff;
    list-style: none;
    margin: 0 12px 0 0;
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
  }
  li {
    display: block;
    float: left;
    padding: 8px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    a {
      color: #231f20;
      padding: 0;
      font-size: 14px;
      font-weight: bold;
      @media screen and (min-width: 1151px) {
        font-size: 16px;
      }
      &:hover,
      &:focus {
        color: $brand-blue;
        text-decoration: underline;
      }
    }
    &:hover, &:focus-within {
      cursor: pointer;
      a {
        outline: none;
      }
    }
  }
}

// desktop submenus
.ba-primary-menu--desktop ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 12rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 3px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: .5rem;
  border: 1px solid #e2e2e2;
}

// desktop submenu wrappers
.ba-primary-menu--desktop ul li:hover > ul,
.ba-primary-menu--desktop ul li ul:hover,
.ba-primary-menu--desktop ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}

// desktop submenu items
.ba-primary-menu--desktop ul li ul li {
  clear: both;
  width: 100%;
  display: block;
  line-height: 1.2;
  padding-bottom: 0;
  a {
    font-weight: 600;
    color: #424242;
    transition: none;
    &:hover, &:focus {
      color: $brand-blue;
      text-decoration: underline;
    }
  }
}
