/**
  # Library
*/


/**
* "Global" styles shared accross all library templates
*/
.post-type-archive-library,
.page-id-6574, // The "library" home page
.tax-library_category {
  .site-content {
    .ast-container {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
      overflow-x: hidden;
      .ast-archive-description {
        text-align: center;
        padding: 2rem 1.25rem;
        margin-bottom: 0;
        color: white;
        background: #26272b;
        h1 {
          color: white;
        }
        a {
          color: lightgray;
          text-decoration: underline;
          &:hover, &:focus {
            color: #bc2f2c;
          }
        }
        @media screen and (min-width: 800px) {
          padding: 2rem 1.25rem 1rem 1.25rem;
          display: flex;
          justify-content: center;
          .library-icon_wrapper {
            display: inline-block;
            padding-right: 1rem;
            padding-bottom: 1rem;
            position: relative;
            bottom: .25rem;
          }
          .library-title_wrapper {
            display: inline-block;
            text-align: left;
          }
        }
      }      
      #primary {
        margin-top: 2rem;
      }
    }
  }

  .attachment-post-thumbnail {
    max-height: 275px;
    width: auto;
    margin-bottom: .5rem;
  }

  .ast-article-post {
    margin-bottom: 1.5rem;
  }

}

.library-item_meta {
  color: #838383;
}

.library-default-image {
  max-width: 225px;
  border: 1px solid lightgray;
}


.library-back-link_wrapper {
  overflow: auto;
  position: relative;
  display: block;

  .library-back-link {
    display: inline-block;
    float: left;
    margin: 1rem 0;
  }
}


/*
* Library archive template styles
*/

.library-category_header {
  margin-bottom: 1rem;
  h3 {
    display: inline-block;
    margin-right: .5rem;
  }
}


.library-sidebar_wrapper {
  padding-bottom: 1.5rem;
}


.library-sidebar {
  background: #e8e8e8;
  padding: 1rem 1.25rem;
  border-radius: 3px;
  .library-sidebar_contact-info{
    font-size: .875rem;
    color: gray;
    display: inline-block;
    line-height: 1.5;
    &:first-of-type{
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }

  .ba-cta-button {
    white-space: normal;
  }
}

.library-sidebar_labels-list  {
  margin: 0;
  list-style: none;
  li{
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: .25rem;
    margin-top: .25rem;
    &.current-cat > a {
      font-weight: bold;
      text-decoration: underline;
    }
    ul {
      list-style: none;
      line-height: 1.2;
      margin-left: .5rem;
      margin-bottom: .25rem;
      li {
        margin-bottom: .375rem;
        margin-top: .375rem;
        display: block;
      }
    }
  }
}


/*
* Single library template
*/

.single-library {
  .library-item_meta {
    color: black;
    font-weight: 600;
  }

  .library-entry-categories, .library-recommended-by {
    color: #838383; font-size: 16px;
    span {
      display: block;
    }
  }

}

// Book Reviews list and submission form

.library-reviews_wrapper {
  padding: 1rem;
  float: left;
  clear: both;
  display: block;
  overflow: auto;
  border: none;
  margin-top: 0;
  .comment-list {
    margin: 2rem 0;
  }
  .comment-body {
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: .5rem;
    border: 1px solid lightgray;
  }
  .comment-meta {
    font-size: .875rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .reply {
    display: none;
  }

}

.library-reviews_join-message {
  background: #eceeef;
  display: block;
  padding: 1rem;
  margin-top: 1rem;
  h4, p {
    margin-bottom: .5rem;
  }
}

.library-reviews_guide-link {
  margin-bottom: 1rem;
  display: block;
}


/*
* "Library Home" page template
*/

.library-home-content_inner {
  overflow: auto;
  padding: 1rem 1rem 0 1rem;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2rem;
  max-width: 1000px;
}